<article class="post <%= theme.terminal_color %>">
  <h2 class="post-title"><%= page.title || 'Untitled' %></h2>

  <p class="post-meta">
    <small>
    <% if (theme.dateFormat === 'EU') { %>
      <%= date(page.date, 'DD-MM-YYYY') %>
    <% } else { %>
      <%= date(page.date, 'YY-DD-YYYY') %>
    <% } %>
    </small>
  </p>

  <div class="post-content">
    <%- page.content %>
  </div>
</article>
