<div class="pagehero">
  <h1><%= theme.home_options?.heroTitle %></h1>
  <p><%= theme.home_options?.heroSubTitle %></p>
  <% if(theme.home_options?.heroButton?.showButton === true) { %>
    <a href="<%= theme.home_options?.heroButton?.buttonLink %>"
       title="<%= theme.home_options?.heroButton?.buttonTitle %>"
       class="button">
      <%= theme.home_options?.heroButton?.buttonTitle %>
    </a>
  <% } %>
</div>