<div class="posts">
  <div class="postList full">
    <% page.posts.each(function(post){ %>
      <div class="post">
        <% if(theme.featured_image?.enabled === true){
          const featuredImage =
              post.featured_image
              ? post.featured_image
              : theme.featured_image?.default;
        %>
          <div class="featured-image" style="background-image: url('<%= featuredImage %>');"></div>
        <% } %>
        <div class="content">
          <small class="post-date">
            Date Posted:
            <% if (theme.dateFormat === 'EU') { %>
              <%= date(post.date, 'DD/MM/YYYY') %>
            <% } else { %>
              <%= date(post.date, 'YY/DD/YYYY') %>
            <% } %>
          </small>
          <a href="<%- url_for(post.path) %>" class="title" title="<%- url_for(post.path) %>"><%= post.title || 'Untitled' %></a>
        </div>
        <a href="<%- url_for(post.path) %>" title="<%- url_for(post.path) %>" class="button">Read Post</a>
      </div>
    <% }) %>
  </div>
</div>